.movie-theater-header {

    width: 100%;
    height: 10%;
    background: linear-gradient(to top, transparent, #4F000B 100%);
    color: white;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back {
    margin-left: 0.5%;
    font-size: x-large;
}

.menu {
    margin-right: 0.5%;
}

.dropdown {
    font-size: xxx-large;
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 30vw;
    background-color: #4F000B;
    border: 5 px solid white;
    /* display: flex; */
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10vh;
}