.login-div {
    background-color: #4F000B;
    border: 1px solid white;
    border-radius: 25px;
    padding: 2%;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.login-div h1 {
    color: white;
    font-size: 5vh;
}

.login-div button {
    width: 80%;
    height: 5vh;
    border: 3px solid white;
    margin-left: 10%;
}